.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container{
    width: 25rem;
    height: 20rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 10rem;
    margin: auto;
}

:global(.form-label-group){
    margin-bottom: 2rem;
}
